*,*:before,*:after { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
html,body { font-size: 100%;}
body {
	background: #f0f0f0;
	color: #434343;
	padding: 0;
	margin: 0;
	font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
	font-weight: normal;
	font-style: normal;
	line-height: 1;
	position: relative;
	cursor: default; 
  }
a {color: #434343;font-weight: normal;text-decoration: underline;}
a:hover {color:#88b9cf;text-decoration: underline;cursor: pointer; }
a:focus {outline: none; }
h1, h2, h3, h4 {font-weight: bold;font-style: normal;color: #222;text-rendering: optimizeLegibility;margin-top: 0.2em;margin-bottom: 0.5em;line-height: 1.2125em;}
h1 {  font-size: 1.6875em; }
h2 {  font-size: 1.375em;  color:#2ba6cb;}
h3, h4  {  font-size: 1.125em;}
hr {border: solid #ddd;border-width: 1px 0 0;clear: both;margin: 1.25em 0 1.1875em;height: 0; }
.txtcenter {text-align: center;}
#main {
	max-width: 830px;
	height: auto;
	overflow: hidden;
	margin-left: auto;
	margin-right: auto;
	margin-top: 1em;
	background:#fff;
	border: #e5e5e5 3px solid;
	border-radius: 7px;
	padding: 30px;
	
}
header {color: #222;height: auto;line-height: 1.6em;}
span.title {font-size: 1.4em; font-weight:normal;color:#2284a1;}
form {line-height: 1.8em;}
textarea {
	background-color: #fff;
	font-family: inherit;
	border: 1px solid #ccc;
	-webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
	color: rgba(0, 0, 0, 0.75);
	display: block;
	font-size: 0.875em;
	margin: 0 0 1em 0;
	padding: 0.5em;
	height: 8.3125em;
	width: 100%;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: -webkit-box-shadow 0.45s, border-color 0.45s ease-in-out;
	-moz-transition: -moz-box-shadow 0.45s, border-color 0.45s ease-in-out;
	transition: box-shadow 0.45s, border-color 0.45s ease-in-out; 
  }
textarea:focus {background: #fafafa;border-color: #999;outline: none; -webkit-box-shadow: 0 0 5px #999;-moz-box-shadow: 0 0 5px #999;box-shadow: 0 0 5px #999;border-color: #999; }
label {cursor: pointer;}
.submit_button {
	border-style: solid;
	border-width: 1px;
	border-radius: 5px;
	cursor: pointer;
	font-family: inherit;
	font-weight: bold;
	line-height: 1;
	margin: 0 0 1.25em;
	position: relative;
	text-decoration: none;
	text-align: center;
	display: inline-block;
	padding-top: 0.75em;
	padding-right: 1.5em;
	padding-bottom: 0.8125em;
	padding-left: 1.5em;
	font-size: 1em;
	background-color: #2ba6cb;
	border-color: #2284a1;
	color: #fff; 
 }
.submit_button:hover, .submit_button:focus { background-color: #2284a1; }
.submit_button:hover, .submit_button:focus {  color: #fff; }
xmp {margin: 0 0 1.25em;padding: 0.5625em 1.25em 0 1.1875em;border-left: 1px solid #ddd; line-height: 1.6em;color: #6f6f6f;overflow: auto; }
footer {clear:both;height: 40px;margin: 5px 0 30px 0;padding-top: 5px;text-align: center; font-size: .825em;}